Flask-PyMongo==2.3.0
Flask-WTF==1.0.1
Flask==1.1.4
Jinja2==2.11.3
MarkupSafe==2.0.1
WTForms==3.0.1
Werkzeug==1.0.1
bson==0.5.10
click==7.1.2
dnspython==1.16.0
email-validator==1.2.1
fastapi==0.63.0
flask-mongoengine==1.0.0
gunicorn==20.1.0
idna==3.3
itsdangerous==1.1.0
mongoengine==0.24.2
pydantic==1.8.1
pymongo==3.11.3
python-dateutil==2.8.2
six==1.16.0
starlette==0.13.6
typing-extensions==4.3.0
